* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

:root {
  --darkest-color: #519386;
  --dark-color: #75d3c09f;
  --light-color: #91f9e5;
  --lightest-color: #c7ede5;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(
    62deg,
    var(--light-color) 0%,
    var(--dark-color) 100%
  );
  background-repeat: no-repeat;
  /* background-image: linear-gradient(62deg, #8ec5fc 0%, #49516F 100%); */
}

.quiz-section {
  width: 90%;
  max-width: 500px;
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#question {
  font-size: 2.4rem;
  padding: 2rem 5rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 5rem;
}

#submit {
  cursor: pointer;
}

#submit,
li {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

li {
  list-style: none;
    /* cursor: pointer; */
}

input[type="radio"] {
  display: none;
}
label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  gap: 0.8em;
  padding: 0 7rem 0 3rem;
  min-height: 7rem;
  border-radius: 5rem;
  border: none;
  border: 0.2rem solid var(--darkest-color);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  -webkit-border-radius: 5rem;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--darkest-color);
  
}

label::before{
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid var(--darkest-color);
  /* border: 3px solid #e0e0e0; */
  border-radius: 50%;
}

label:focus {
  outline: 5px solid var(--darkest-color);
  border: 0.2rem solid #fff;
}

label:hover {
  background-color: var(--lightest-color);
}

/* label:hover label::before {
  border: 3px solid white;
} */

/* input[type="radio"]:focus {
  outline: none;
} */

input[type="radio"]:checked + label {
  background-color: var(--darkest-color);
  border-color: white;
  color: white;
  font-weight: 400;
}

input[type="radio"]:checked + label:focus {
  background-color: var(--darkest-color);
  outline-color: var(--darkest-color);
}

input[type="radio"]:checked + label::before {
  background-color: var(--darkest-color);
  border-color: white;
}

.btn {
  padding: 2rem 5rem;
}

#submit {
  min-height: 7rem;
  padding: 0 5rem;
  height: 5rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background-color: #FF9670;
  border: 4px solid #fff;
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
}

#submit:focus {
  outline: 5px solid #FF9670;
} 

#submit:hover {
  background-color: #ffb499;
}

.result {
  width: 100%;
  height: auto;
  padding: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.result h2 {
  font-size: 2.4rem;
}

.result p {
  font-size: 2rem;
}
